<section class="">
    <h2>From screen to <span class="highlight">citytrip</span></h2>
    <p>
        Across Belgium and neighboring countries we placed an installation that
        allows you to experience the point of views.
    </p>

    <h3>How it works</h3>
    <p>
        Use the kiosk to customize the POV: how do you see Antwerp? Take a photo
        or get the route behind it. Every interaction starts as a joke, but
        leads to a real way to discover Antwerp.
    </p>

    <ul>
        <li>find installation</li>
        <li>customize</li>
        <li>capture the moment</li>
    </ul>
</section>
