---

---

<footer class="footer">
    <div class="footer__top">
        <h2 class="footer__title">AntwerPOV</h2>
        <p class="footer__subtitle">Discover Antwerp through point of views</p>
    </div>
    <div class="footer__bottom">
        <a class="button" href="">Visit Antwerp</a>
        <ul class="footer__links">
            <li>Antwerp</li>
            <li><a class="footer__link" href="www.visitantwerp.com">VisitAnwerp.com</a></li>
            <li>
                <ul class="footer__socials">
                    <li><a href=""></a>IG</li>
                    <li><a href=""></a>FB</li>
                    <li><a href=""></a>XO</li>
                    <li><a href=""></a>TT</li>
                </ul>
            </li>
        </ul>
    </div>
</footer>
