---
import { Image } from "astro:assets";
import HeroImg1 from "../assets/Hero-img-1.png";
---

<section class="hero">
    <Image
        src={HeroImg1}
        alt="Hero"
        class="hero__image"
        decoding="async"
        loading="lazy"
        inferSize
        format="avif"
    />
    <h1 class="hero__title">AntwerPOV</h1>
</section>
