---

---

<section class="intro">
    <div class="intro__content">
        <h2 class="intro__title">
            One <span class="intro__title--highlight">city</span>, different <span
                class="intro__title--highlight">perspectives</span
            >
        </h2>
        <p class="intro__subtitle">The fashion icon. The “arrogant” local. The shopper,...</p>
        <p class="intro__text">
            People often experience Antwerp through assumptions and stereotypes.
            AntwerpPOV turns those first impressions into a playful way of exploring
            the city. Step into someone else's perspective and discover places,
            stories and experiences you might otherwise miss.
        </p>
        <a class="button intro__button" href="">View POVs</a>
    </div>
</section>
