<ul class="nav__list">
    <li class="nav__item nav__item--active">
        <a class="nav__link nav__link--active" href="">Home</a>
    </li>
    <li class="nav__item"><a class="nav__link" href="">Featured POV's</a></li>
    <li class="nav__item"><a class="nav__link" href="">Our POVS</a></li>
</ul>
