@font-face {
    font-family: "AntwerpRegular";
    src: url(../assets/fonts/Antwerpen-Regular.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "AntwerpSmallCapsRegular";
    src: url(../assets/fonts/AntwerpenSmallCaps-Regular.woff2);
}

@font-face {
    font-family: "AntwerpTall";
    src: url(../assets/fonts/AntwerpenTall-Tall.woff2);
}

@font-face {
    font-family: "BacalarRegular";
    src: url(../assets/fonts/bacalartest-regular.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "SunAntwerpen";
    src: url(../assets/fonts/SunAntwerpen_500.woff2);
    font-weight: 500;
}

@font-face {
    font-family: "SunAntwerpen";
    src: url(../assets/fonts/SunAntwerpen_700.woff2);
    font-weight: 700;
}

:root {
    /* Colors */
    --color-primary: #545CAB;
    --color-dark: #1E1E1E;
    --color-black: #161616;
    --color-accent-green: #B7EA63;
    --color-accent-pink: #FF70E8;
    --color-blue: #545CAB;
    --color-light-text: whitesmoke;
    --color-light-text-alt: antiquewhite;
    --color-white: white;
    --bg-black: #1e1e1e;

    /* Spacing */
    --space-xs: 0.5rem;
    --space-s: 1rem;
    --space-m: 2rem;
    --space-l: 5rem;
    --space-xl: 5rem;


    /* Font Variables */
    --font-size-s: 1.25rem;
    --font-size-m: 2.25rem;
    --font-size-l: 3.125rem;
    --font-size-xl: 8rem;

    --font-family-serif: var(--font-family-serif);

    /* Routes variables, meant to be changed */
    --route-shadow-color: var(--color-accent-green);
    --route-main-color: var(--color-blue);
    --route-text-color: var(--color-white);

    /* Utopia Steps */
    --step-0-bodytext: clamp(1.375rem, 1.3281rem + 0.191vw, 1.5rem);

    --step-0-h1: clamp(3.8125rem, 2.2407rem + 6.3992vw, 8rem);
    --step-0-h2: clamp(2.5rem, 2.1481rem + 1.4327vw, 3.4375rem);

    --hero-subtitle: clamp(1rem, 0.8592rem + 0.5731vw, 1.375rem);
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

main {
    background: var(--bg-black);
}

body {
    font-family: "SunAntwerpen";
    font-weight: 500;
    line-height: 1.4;
    /* padding: var(--space-l) var(--space-s) var(--space-s); */
    color: var(--color-grey);
    background: var(--color-background);
    font-size: var(--step-0-bodytext);
}

img,
Image {
    height: auto;
    max-width: 100%;
}

.visually-hidden {
    display: none;
}

.container {
    width: 100%;
    max-width: 15rem;
}

/* Navigation */
.nav {
    background: var(--color-dark);
    padding: 2rem 0;
}

.nav__list {
    display: flex;
    flex-flow: row nowrap;
    justify-self: center;
    max-width: 22rem;
    width: 100%;
}

.nav__item {
    display: flex;
    width: 100%;
}

.nav__link {
    font-family: "AntwerpRegular";
    font-size: 1.25rem;
    background: var(--color-primary);
    text-decoration: none;
    color: var(--color-white);
    text-transform: uppercase;
    transition: all 250ms ease;
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
}

.nav__link:hover {
    box-shadow: 0.2rem 0.2rem var(--color-accent-green);
}

.nav__link--active {
    background: var(--color-black);
    color: var(--color-accent-green);
}

.nav__link--active::backdrop {}


/* Hero stuff */
.hero {
    height: 100vh;
    background: var(--color-dark);
    overflow: hidden;
}

.hero__title {
    font-family: "BacalarRegular";
    font-size: var(--step-0-h1);
    color: var(--color-white);
    grid-area: 1/1/1/1;
    text-align: center;
}

.carousel__content {
    display: grid;
}

.hero__carousel {
    grid-area: 1/1/1/1;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: grid;
}

.hero__content {
    display: flex;
}

.hero__button {
    background: var(--color-accent-pink);
    padding: var(--space-xs) var(--space-m);
    text-decoration: none;
    max-width: 20rem;
    font-size: 1.5rem;
    color: var(--color-dark);
    font-family: "AntwerpRegular";
}

.hero__subtitle {
    color: var(--color-black);
    font-family: "AntwerpRegular";
    font-size: var(--hero-subtitle);
    background: var(--color-accent-green);
    padding: 0.2rem 2rem;
    justify-self: end;
    rotate: -4deg;
}

.button__subtext {
    font-family: "SunAntwerpen";
    font-weight: 500;
}

.carousel__nav {
    display: flex;
    flex-flow: row nowrap;
    gap: 1rem;
    grid-area: 1/1/1/1;
    justify-self: center;
    align-items: end;
    margin-bottom: 4rem;
}

.carousel__dot {
    width: 1rem;
    height: 1rem;
    background: whitesmoke;
    border-radius: 9999px;
    transition: all 250ms;
}

.carousel__dot--active {
    width: 4.5rem;
    height: 1rem;
    background: var(--color-blue);
    border-radius: 9999px;
}

/* Intro thingies */
.intro {
    display: grid;
    place-items: center;
    padding: 2rem 0;
    background: var(--color-dark);
}

.intro__content {
    display: flex;
    flex-flow: column nowrap;
    gap: var(--space-m);
}

.intro__title {
    font-family: "AntwerpRegular";
    color: var(--color-light-text);
    text-align: center;
}

.intro__title--highlight {
    color: var(--color-accent-pink);
}

.intro__text {
    color: var(--color-light-text);
    max-width: 55rem;
    font-size: var(--font-size-s);
    align-self: center;
    font-family: "SunAntwerpen";
    font-weight: 500;
}

.intro__button {
    text-align: center;
    border-color: #B7EA63;
    border-width: 0.125rem;
    border-style: solid;
    background: transparent;
    align-self: center;
    font-family: "AntwerpRegular";
    font-weight: 500;
    color: var(--color-accent-green);
    text-decoration: none;
    padding: 0.5rem 2rem;
    box-shadow: 0.2rem 0.3rem var(--color-accent-green);
    transition: all 250ms ease-in;
}

.intro__button:hover {
    background: var(--color-accent-green);
    color: var(--color-black);
    box-shadow: 0rem 0rem var(--color-accent-green);
}

/* featured */
.featured {}

.featured__pt1 {
    display: flex;
    flex-flow: column;
    padding: 2rem 0;
    background: var(--color-dark);
    color: var(--color-white);
    gap: 2rem;
    place-items: center;
    overflow: hidden;
}

.featured__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 5rem;
    padding: 2rem 0;
}

.featured__title {
    font-family: "AntwerpRegular";
    font-weight: 500;
}

.featured__title--highlight {
    color: var(--color-accent-pink);
}

.featured__subtitle {
    font-family: "SunAntwerpen";
    font-size: var(--font-size-s);
    max-width: 55ch;
}

.information {
    display: grid;
    padding: 0 0 0 0;
    place-items: center;
    background: var(--color-white);
}

.information__container {
    display: grid;
    place-items: center;
    gap: 2rem;
}

.information__title {
    font-family: "AntwerpRegular";
    font-weight: 500;
    text-align: center;
}

.featured__content {
    display: grid;
    place-items: center;
    gap: 2rem;
}

.information__title--highlight {
    color: var(--color-blue);
}

.information__subtitle {
    font-family: "SunAntwerpen";
    font-size: var(--font-size-s);
    max-width: 55ch;
    text-align: center;
}

.featured__more {
    text-decoration: none;
    color: var(--color-accent-green);
    font-family: "AntwerpRegular";
    font-weight: 500;
}

.featured__scroll {
    overflow-x: scroll;
    width: 100%;
}

/* Footer */
.footer {
    display: flex;
    place-items: center;
    flex-flow: column nowrap;
    gap: var(--space-m);
    background: var(--color-dark);
    color: var(--color-light-text);
    padding: 2rem 0 0 0;
}

.footer__title {
    font-size: var(--step-0-h1);
    font-family: "BacalarRegular";
}

.footer__subtitle {
    font-family: "AntwerpRegular";
    text-align: center;
    font-size: 1rem;
    translate: 0rem -1rem;
}

.footer__top {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 0 0 1rem 0;
}

.footer__bottom {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.footer__links {
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;
    align-items: center;
}

.footer__link {
    text-decoration: none;
    color: var(--color-light-text);
    font-family: "AntwerpRegular";
}

.footer__socials {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
}

.footer__credits {
    display: grid;
    place-items: center;
    background: var(--color-black);
    width: 100%;
    padding: .5rem 0;
    font-size: .8rem
}

/* Utitlity classes */
.button {
    background: var(--color-accent-green);
    padding: 0.1rem var(--space-m);
    text-decoration: none;
    max-width: 20rem;
    font-size: 1.5rem;
    color: var(--color-dark);
    font-family: "AntwerpRegular";
    text-align: center;
}

/* More information section, bottom */
.information__button {
    background: var(--color-blue);
    color: var(--color-white);
    text-decoration: none;
    padding: 0.5rem 4rem;
    font-size: var(--font-size-s);
    font-family: "AntwerpRegular";
    max-width: fit-content;
}

.antwerplogo {
    display: grid;
    place-items: center;
}

.antwerplogo__img {
    grid-area: 1/1/1/1;
    z-index: 1;
}

.antwerplogo__bg {
    grid-area: 1 / 1 / 1 / 1;
    animation: spin 20s linear infinite;
}

.intro__title,
.routes__title,
.information__title,
.citytrip__title,
.featured__title {
    font-size: var(--step-0-h2);
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}



/* Media queries, responsive design */
@media screen and (min-width: 24rem) {

    /* featured */
    .featured__submissions {
        overflow: hidden;
    }

    .featured__submissions {
        overflow: hidden;
    }

    .container {
        max-width: 20rem;
    }
}

@media screen and (min-width: 36rem) {
    .container {
        max-width: 32rem;
    }
}

@media screen and (min-width: 50rem) {
    .nav__list {
        display: flex;
        flex-flow: row nowrap;
        justify-self: center;
        max-width: 35rem;
        width: 100%;
    }

    .container {
        max-width: 42rem;
    }
}

@media screen and (min-width: 60rem) {
    .container {
        max-width: 55rem;
    }
}

@media screen and (min-width: 75rem) {
    .container {
        max-width: 70rem;
    }
}

@media screen and (min-width: 90rem) {
    .container {
        max-width: 85rem;
    }
}