:root {
    --font-size-location-title: clamp(1.5rem, 1.3592rem + 0.5731vw, 1.875rem);
}

/* Hero stuff */
.hero__subtitle {
    justify-self: end;
    rotate: -3deg;
    translate: -1rem -2.5rem;
}

.hero__images {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    rotate: 4deg;
    gap: 2rem;
    width: 160%;
    translate: -8rem -8rem;
}

.hero__content {
    display: grid;
    place-items: center;
    overflow: hidden;
    translate: 0rem -1rem;
}

.hero__bottom {
    display: grid;
    place-items: center;
    gap: 1rem;
    translate: 0 -1rem;
}

.hero__tagline {
    background: var(--color-accent-pink);
    color: var(--color-black);
    padding: 0.2rem 2rem;
    font-family: "AntwerpRegular";
    font-weight: 500;
}

.hero__credits {
    display: flex;
    flex-flow: row nowrap;
    color: var(--color-accent-green);
    font-family: "AntwerpRegular";
    font-weight: 500;
    font-size: 1rem;
    gap: 1rem;
}

.credits__link {
    color: var(--color-accent-green);
    text-decoration: none;
}


/* Intro stuff */
.intro__meet {
    display: grid;
    place-items: center;
    rotate: -6deg;
    width: min-content;
}

.intro__meet svg,
.intro__meet p {
    grid-area: 1/1/1/1;
}

.meet__text {
    font-family: "AntwerpRegular";
    max-width: 8ch;
    text-align: center;
}

.pov__cards {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    overflow-x: auto;
    gap: 2rem;
}

.pov__cards::-webkit-scrollbar {
    display: none;
}


.pov__card {

    background: var(--color-white);
    max-width: 20rem;
    width: 100%;

    flex-shrink: 0;
}

.pov__center {
    display: grid;
}

.pov__image {
    justify-self: end;
}

.pov__title {
    font-size: 24px;
    padding: 1rem;
}

.pov__content {
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100%;
    justify-content: flex-end;
}

.pov__bottom {
    display: grid;
    background: var(--color-accent-green);
    padding: 1rem;
    width: 100%;
    min-height: 7rem;
    max-height: 7rem;
    align-self: end;
}

.pov__bottom--fashionista {
    background: var(--color-blue);
    color: var(--color-white);
}

.pov__bottom--mc {
    background: var(--color-accent-pink);
}

.pov__bottom--raver {
    background: var(--color-accent-green);
}

.pov__text {
    text-align: center;
    font-family: "SunAntwerpen";
    font-weight: 700;
    font-size: 1rem;
}

.pov__text--pov {
    font-family: "BacalarRegular";
}

/* Featured povs */

.featured {
    background: var(--color-white);
}

.featured__submissions {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    padding: 0;
    margin: 0;
    width: max-content;
    overflow-x: auto;
    max-width: 100%;
}

.featured__submissions::-webkit-scrollbar {
    display: none;
}

.submission__card {
    flex-shrink: 0;
    width: 320px;
}

.featured__submissions {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
    padding: 2 0rem;
}

.submission {
    display: grid;
    gap: 2rem;
}

.submission__location,
.submission__date {
    font-size: var(--font-size-s);
    font-family: "SunAntwerpen";
    font-weight: 500;
}

.submission__image {
    box-shadow: 0.5rem 0.60rem var(--color-blue);
}

.submission__details {
    display: flex;
    flex-flow: row nowrap;
}

.submission__detail {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.submission__details {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 0 2rem;
}

/* Citytrip stuff */
.citytrip__container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}

/* From screen to citytrip ah */
.citytrip {
    place-items: center;
    background: var(--color-white);
}

.citytrip__installation {
    translate: 0 4rem;
}

.citytrip__content {
    display: flex;
    flex-flow: column;
    gap: 2rem;
    padding: 5rem 0;
}

.citytrip__title {
    font-family: "AntwerpRegular";
}

.citytrip__subtitle {
    font-family: "AntwerpRegular";
    font-size: var(--space-m);
}

.citytrip__title--highlight {
    color: var(--color-blue);
}

.citytrip__text {
    font-family: "SunAntwerpen";
    justify-content: space-between;
    font-weight: 500;
    font-size: var(--font-size-s);
    max-width: 34rem;
}

.citytrip__steps {
    display: flex;
    justify-content: space-between;
    align-items: end;
    overflow: hidden;
    width: 100%;
}

.citytrip__step {
    height: 100%;
}


.step__content {
    display: grid;
    place-items: center;
    gap: 2rem;
    color: var(--color-blue);
    font-weight: 700;
    max-width: 5rem;
}

.step__icon {
    display: flex;
    width: min-content;
    height: auto;
}

.step__text {
    text-align: center;
    font-size: 1rem;
}

/* Locations */
.locations {
    place-items: center;
    display: flex;
    flex-flow: column nowrap;
    overflow: hidden;
    background: var(--color-white);
}

.locations__title {
    font-family: "AntwerpRegular";
    font-size: var(--font-size-location-title);
    color: var(--color-black);
    text-align: center;
    background: var(--color-accent-green);
    padding: 0.25rem 2rem;
    translate: 0 2rem;
}

.locations__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white);
    gap: var(--space-l);
    background: var(--color-blue);
    width: 100%;
    padding: 5rem 2rem;
    overflow-x: auto;
}

.locations__list::-webkit-scrollbar {
    display: none;
}

.location {
    display: grid;
    place-items: center;
}

.location__text {
    display: grid;
    place-items: center;
}

.location__city {
    font-family: "AntwerpRegular";
    font-weight: 500;
    color: var(--color-accent-green);
}

.location__place {
    font-size: 1rem;
    color: var(--color-white);
}

.locations__bottom {
    background: var(--color-blue);
}

/* Media queries, responsive design */
@media screen and (min-width: 24rem) {}

@media screen and (min-width: 36rem) {
    .step__content {
        max-width: max-content;
    }
}

@media screen and (min-width: 50rem) {
    .citytrip__container {
        flex-flow: row nowrap;
        justify-content: space-between;
    }
}

@media screen and (min-width: 60rem) {}

@media screen and (min-width: 75rem) {}

@media screen and (min-width: 90rem) {}