:root {
    --current-pov-bg-color: #B7EA63;
    --current-pov-text-color: var(--color-black);
    --current-pov-secondary-color: #545CAB;
    --current-pov-shadow-color: #545CAB;
    --current-pov-download-color: var(--color-white);
}

/* Hero stuff */
.hero__subtitle {
    justify-self: end;
    rotate: -4deg;
    translate: -3rem -2.4rem;
}

.hero__image {
    padding: 3rem 0;
}

/* POV section */
#fashionista {}

.pov__subtitle {
    text-align: center;

}

/* Things for the routes page */

/* Routes Hero */
.hero__routes {
    display: grid;
    place-items: center;
}

.hero__title {
    font-family: "BacalarRegular";
    font-size: var(--step-0-h1);
    color: var(--color-white);
    text-align: center;
}

.hero__top {
    display: grid;
    place-items: center;
    background: var(--color-dark);
}

.hero__bottom {
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(to bottom,
            var(--bg-black) 0% 10%,
            #161616 10% 65%,
            var(--bg-black) 65% 100%);
}

.routes__content {
    display: grid;
    place-items: center;
    color: var(--color-white);
    padding: 2rem 0 5rem 0;
    gap: 1rem;
    max-width: 35rem;
}

.routes__subtext {
    font-family: "SunAntwerpen";
    font-weight: 500;
    color: var(--color-white);
    font-size: var(--font-size-s);
    max-width: 55ch;
    text-align: center;
}

/* Routes */
.routes {
    display: grid;
    place-items: center;
}

.routes__title {
    font-family: "AntwerpRegular";
    padding: 2rem 0;
    background: var(--bg-black);
    text-align: center;
    color: var(--color-white);
    width: 100%;
    height: 100%;
}

.pov__list {
    display: flex;
    flex-flow: row nowrap;
    gap: 3rem;

    background: #161616;

    padding: 2rem 4rem;
    width: 100%;

    overflow-x: auto;
}

.pov__list::-webkit-scrollbar {
    display: none;
}

.pov__name {
    color: var(--color-white);
    padding: 0.5rem 5rem;
    font-family: "AntwerpRegular";
    font-size: var(--font-size-s);
    cursor: pointer;
    transition: all 250ms ease;

    flex-shrink: 0;
}

.pov__name:hover {
    box-shadow: 0rem 0rem;
}

.pov__name--fashion {
    background: var(--color-accent-green);
    box-shadow: var(--color-blue) 0.2rem 0.2rem;
    color: var(--color-black);
}

.pov__name--mc {
    background: var(--color-blue);
    box-shadow: var(--color-accent-green) 0.2rem 0.2rem;
}

.pov__name--raver {
    background: var(--color-accent-pink);
    box-shadow: var(--color-accent-green) 0.2rem 0.2rem;
    color: var(--color-black);
}

.pov__name--active {
    box-shadow: #B7EA63 0rem 0rem;
}

.povroutes {
    display: grid;
    width: 100%;
}

/* Routes maps povs */
.pov__route {
    grid-area: 1/1/1/1;
    background: var(--current-pov-bg-color);
    padding: 2rem 0;
    width: 100%;
    display: grid;
    place-items: center;
    color: var(--current-pov-text-color);
    gap: 5rem;
    opacity: 0;
    transition: all 250ms ease;
}


#fashionista {}

#mc {}

#raver {}


.POV__title {
    font-family: "AntwerpRegular";
    font-size: var(--space-m);
}

.povroute__content {
    display: flex;
    flex-flow: column nowrap;
    gap: 3rem;
    align-items: center;
}

.route__stats {
    display: flex;
    flex-flow: row nowrap;
    gap: 4rem;
}

.stat__list {
    display: grid;
    place-items: center;
    gap: 1rem;
}

.stat__icon {
    fill: var(--current-pov-secondary-color);
}

.stat__info {
    color: var(--current-pov-secondary-color);
    font-family: "AntwerpRegular";
    text-align: center;
}

.route__buttons {
    display: flex;
    flex-flow: column nowrap;
    gap: 2rem;
    width: 100%;
    justify-content: center;
}

.route__download {
    background: var(--current-pov-secondary-color);
    border: var(--current-pov-secondary-color) 0.2rem solid;
    color: var(--current-pov-download-color);
    transition: all 250ms ease;
}

.route__download:hover {
    background: none;
}

.route__save {
    background: var(--color-white);
    border: var(--color-white) 0.2rem solid;
    color: var(--color-blue);
    transition: all 250ms ease;
}

.route__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: "AntwerpRegular";
    font-size: var(--font-size-s);
    padding: 0.5rem 0;
}

.route__image {
    box-shadow: 0.5rem 0.5rem var(--current-pov-shadow-color);
}

.stops__collection {
    display: grid;
    width: 100%;
}

.route__stops {
    width: 100%;
    grid-area: 1/1/1/1;
    padding: 2rem 0;
    display: grid;
    gap: 2rem;
    place-items: center;
    background: linear-gradient(to bottom,
            var(--current-pov-bg-color) 60%,
            var(--bg-black) 60% 100%);

    transition: all 250ms ease;
}

.route__stop {
    color: var(--color-white);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 1rem;
}

.location__index {
    font-family: "cofo-sans-pixel",
        sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
}

.location__index--blue {
    color: var(--color-blue);
}

.location__index--green {
    color: var(--color-accent-green);
}

.location__index--white {
    color: var(--color-white);
}

.location__index--pink {
    color: var(--color-accent-pink);
}

.location__text {
    font-size: var(--font-size-s);
}

.stops__list {
    grid-area: 1/1/1/1;

    display: flex;
    flex-flow: row nowrap;
    gap: 7rem;

    padding: 0 5rem 0 5rem;

    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;

    opacity: 0;

    transition: all 250ms ease;
}

.stops__list::-webkit-scrollbar {
    display: none;
}

.stops__list>li {
    flex: 0 0 auto;
}

.pov__route--active {
    opacity: 1;
    z-index: 100;
}

.stops__list.pov__route--active {}

.stop__image {
    box-shadow: 0.3rem 0.3rem var(--current-pov-shadow-color);
}

.stop__image--blue {
    box-shadow: 0.3rem 0.3rem var(--color-blue);
}

.stop__image--pink {
    box-shadow: 0.3rem 0.3rem var(--color-accent-pink);
}

.stop__image--green {
    box-shadow: 0.3rem 0.3rem var(--color-accent-green);
}

.stop__image--white {
    box-shadow: 0.3rem 0.3rem var(--color-white);
}

.stops__title {
    font-family: "AntwerpRegular";
    color: var(--current-pov-text-color);
}

@media screen and (min-width: 36rem) {

    /* hero */
    .hero__subtitle {
        translate: -7rem -2.4rem;
    }

    /* POVS */
    .route__buttons {
        flex-flow: row nowrap;
    }

    .route__button {
        padding: 0.5rem 2rem;
    }
}

@media screen and (min-width: 50rem) {

    /* hero */
    .hero__subtitle {
        translate: -4rem -2.75rem;
    }
}

@media screen and (min-width: 60rem) {

    /* hero */
    .hero__subtitle {
        translate: -2rem -2.75rem;
    }

    .pov__list {
        gap: 0rem;
        justify-content: space-between;
    }
}

@media screen and (min-width: 75rem) {

    /* hero */
    .hero__subtitle {
        translate: -1rem -3.5rem;
    }
}

@media screen and (min-width: 90rem) {

    /* hero */
    .hero__subtitle {
        translate: 0rem -3.75rem;
    }
}